/** {
    border: .5px dotted red;
    margin: 0px;
    padding: 0px;
}*/

body {
    background-color: #000;
}

.foreground {
    background:radial-gradient(circle, #6e5964 0%,#1b0a0e 100% );
    width: 900px;
    padding-bottom: 20px;
    margin: auto;
    color: white;
}

footer {
    /*text-align: center;
    vertical-align: bottom;*/
    margin-top: 10px;
    color: black;
    background-color: white;
    /*height: 50px;*/
    text-align: center;
    padding: 5px;

}

header {
    height: 100px;
    background-color: #f7f7f7;
    color: #000;

}

header h1, header h2{
    display: inline-block; 
    line-height: 100px;
}

header h1 {
    position: relative;
    left: 20px;

}
header h2 {
    position: relative;
    left: 330px;
}

/*.content {
    height: 990px;
}*/
.row {
    padding: 0px 60px;
}
.top-row img, .top-row div {
    width: 363px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*margin-left: 30px;*/
    display: inline-block;
    vertical-align: top;
}
.top-row div {
    background-color: grey;
    height: 249px;

}
.top-row img {
    border: 5px solid #c0c0c0;
}

.row-item  {
    display: inline-block;
    width: 235px;
    vertical-align: top;
    margin: 10px;
    padding: 0px;
    background: linear-gradient(90deg, #fff 10%,#dacdd9 100% );
    /*background-color: #dacdd9;*/
    color: #000;
}

.row-item img {
    display: block;
    width: 235px;
    padding: 0px;
}
.row-item p {
    margin: 7px;
    text-align: justify;
    text-justify: inter-word;
}

.section-head {
    background: linear-gradient(180deg, #b2afb4 0%,#908f99 45%, #908f99 55%,#b2afb4 100% );
    display: block;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding: 0px 7px;
}

.badges {
    padding: 5px;
}

.badges img {
    width: 30px;
    display: inline-block;
    margin: 5px;
}

.badges button {
    display: block;
    margin: 5px auto;
    height: 20px;
    border-radius: 8px;
    color: white;
    border: 1px solid #21543b;
    background-color: #417c5f;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}

footer a {
    text-decoration: underline;
}

footer a img {
    height: 12pt;
    vertical-align: bottom;
    padding: 2px 5px;
}
.crazy{
    font-family: fantasy;
    color: hotpink;
    font-size: 55px;
    font-weight: bolder;
    background-color: #245076;
}
